<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <service licenseKey="E826A48405C9FE5FC2451EC6919942D5E0EAE04F8250A037F20EB90D17305FFA" />
  <application>
    <name>Precificador.WebApi</name>
  </application>
  <log level="all" auditLog="true" enabled="true" logRollingStrategy="day" />
</configuration>