################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Precificador/CopilotIndices/17.14.1701.5382
/.vs/Precificador/FileContentIndex
/.vs/Precificador/v17
/.vs

[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
*.coverage
*.coveragexml
*.db
*.db-shm
*.db-wal
